<!DOCTYPE html>
<html>
  <%- include("../partials/header.ejs") %>
  <body>
    <h1 class='pagetitle'><%= title %></h1>
    <ul class='content'>
    <% skills.forEach(el => { %>
      <li> 
        <form action="/skills/<%= el.id %>?_method=DELETE" method="POST" class="delForm">
          <button class="delBtn" type="submit">X</button>
      </form>
        <a href="skills/<%= el.id%>"><%= el.skill %></a>
      -
      <%= el.done %>
      </li>
      <% }); %>
  </ul>
  <a href="skills/new">Add New Skill</a>
  </body>
</html>
