<!DOCTYPE html>
<html>
  <%- include("../partials/header.ejs") %>
  <body>
    <h1 class='pagetitle'> <%= skill.id %> </h1>
    <div class='content'></div>
      <h3><%= skill.skill %></h3>
      <h3><%= skill.done %></h3>
      <a href="<%= skill.id%>/edit">Edit Skill</a>
    </div>
  </body>
</html>